<!doctype html>
<html lang="en">
<head>
  <title>Home | Student Portal | IIITT</title>
    
    <% include partials/head %>



</head>



<body background="image.jpg">


        <header>
                <% include partials/header %>
            </header>
            
<br/><br/>


<div class="container">

    <!--Section: Jumbotron-->
    <section class="card blue-gradient wow fadeIn" id="intro">

      <!-- Content -->
      <div class="card-body text-white text-center  ">

        <h1 class="mb-4">
          <strong><div class="pricing-header px-2 py-2 pt-md-5  mx-auto text-center" style="color:white; ">
            <h1 class="display-5">Hi,  <%= user %>!</h1>
            <p class="lead">Welcome to the Online Student Portal IIIT Trichy.</p>
        </div></strong>
        </h1>
       
        <a href="/profile" class="btn btn-outline-white btn-sm">View Profile
          <i class="fas fa-graduation-cap ml-2"></i>
        </a>

      </div>
      <!-- Content -->
    </section>
    <!--Section: Jumbotron-->
</div>

    <br />  <br />
    <h3 class="mb-3 font-weight-bold dark-grey-text text-center">
            <strong>What's New</strong>
          </h3>
        <div class="container" >
  
                <hr class="mb-5">

                <!--Grid row-->
                <% posts.forEach(function(el, index) {%>
                <a>
                <section class="card white-gradient m-5 p-3 wow fadeIn" id="intro">
                        <div class="col-lg-7 col-xl-7 ml-xl-3 ">
                                <h3 class="mb-1 font-weight-bold dark-grey-text">
                                 <%= el.title %></h3>
                                <p class="m-1">by <%= el.by %></p> 
                                  <small class="text-muted"><%= el.date %> days ago</small>    
                        </div>
                        <p class="grey-text  p-1  ml-xl-4"><%= el.description %>
                                </p>
                   
                </section>
              </a>
              <% }) %>
                <!--Grid row-->


        


        
                <nav class="text-center container" style="margin-left:auto;
                display: block;
                margin-left: auto;
                margin-right: auto;margin-right:auto;" aria-label="Page navigation example">
                    <ul class="pagination pg-blue">
                      <li class="page-item ">
                        <a class="page-link" tabindex="-1">Previous</a>
                      </li>
                      <li class="page-item active"><a class="page-link">1</a></li>
                      <li class="page-item ">
                        <a class="page-link">2 <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="page-item"><a class="page-link">3</a></li>
                      <li class="page-item ">
                        <a class="page-link">Next</a>
                      </li>
                    </ul>
                  </nav>
            










            </div>
    <br />
    <div class="container" style="background-color:white; ">








        
    </div>
    <% include partials/footer %>
             
</body>
</html>
